
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Unicase', serif;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.gradient {
    text-align: center;
    height: 100%;
}

.hexCodeAlignment {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Unicase', serif;
}

.arrowSeperatingHexCode {
    margin-right: 10px;
    margin-left: 10px;
}

.websiteTitle {
    text-align: center;
}